@import "uikit";
@import "variables";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  body {
    width: 992px;
    margin: 0 auto;
  }

  .div_nav_mob {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  body {
    width: 450px;
    margin: 0 auto;
  }
  .div_nav_mob {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  body {
    width: 320px;
    margin: 0 auto;
  }
  .nav {
    display: none;
  }
  .div_nav_mob {
    display: flex;
    justify-content: space-around;
  }
}

header {
  height: 120px;
  background-color: $active-color;
  color: $text-color;
}

header a {
  color: $text-color;
}

.nav li > a:hover {
  color: $text-color-hover;
}
footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $active-color;
  color: snow;
}

.nav > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.div_nav_mob {
  background-color: $active-color;
}

.nav_mob > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav a, .nav_mob a {
  text-decoration: none;
}

h1, a.logo {
  margin: 0;
  height: 100%;
  display: block;
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
  text-decoration: none;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 10;
}

.header__logo {
  width: 110px;
  height: 110px;
}

.blue {
  color: $text-info;
}

.red {
  color: $text-danger;
}
