<template>
    <div>
        <label for="city" class="uk-form-label">Город</label>
        <div class="uk-form-controls">
            <select id="city" class="uk-select uk-form-width-large" name="city" v-model="selectedCity">
                <option disabled selected value="">Любой</option>
                <option v-for="region of regions" :value="region.id" :key="region.id" :selected="region.selected === 1" :disabled="region.disabled === 1">
                    {{ region.region_name }}
                </option>
            </select>
        </div>
        <label for="region" class="uk-form-label">Район города</label>
        <div class="uk-form-controls">
            <select id="region" class="uk-select uk-form-width-large" name="region" v-model="selectedRegion">
                <option disabled selected value="">Любой</option>
                    <option v-for="reg of CityRegion" :value="reg.id" :key="reg.id" :selected="reg.id === 1">{{ reg.region_name }}</option>
            </select>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'regions'
        ],
        data() {
            return {
                selectedCity: '',
                selectedRegion: '',
                cityRegions: []
            }
        },
        computed: {
            CityRegion() {
                this.cityRegions = [];
                for (let region of this.regions) {
                    for(let reg of region.children)
                    if (reg.parent_id === Number(this.selectedCity)) {
                        this.cityRegions.push(reg);
                    }
                }
                return this.cityRegions;
            }
        }
    }
</script>
