@import "uikit";
@import "variables";

body {
  font-family: Arial, sans-serif;
  padding: 0;
  width: 992px;
  margin: 0 auto;
}

.uk-container .uk-navbar-container {
  height: 120px;
  background-color: $active-color;
  color: $text-color;
}

.uk-navbar-nav li {
  padding-right: 1px;
}

.uk-navbar-nav li > a {
  text-decoration: none;
  color: $text-color;
}

.uk-navbar-nav li > a:hover {
  color: $text-color-hover;
}

.uk-nav li > a {
  color: $text-color-black;
}

.blue {
  color: $text-info;
}

.red {
  color: $text-danger;
}
 .green {
   color: $text-pull;
 }